// Colors
$primary-color: #3283F8;
$error-color: #cf222e;
$text-color: #FFFFFF;

//background colors
$background-color: #010409;

// Typography
$font-family-base: 'Inter', sans-serif;
$font-size-base: 16px;